
<!DOCTYPE html>
<html>
    <head>
        <title> ::: Web Caesar ::: </title>
        <style>
            form {
                background-color: #eee;
                padding: 20px;
                margin: 0 auto;
                width: 540px;
                font: 16px sans-serif;
                border-radius: 10px;
            }
            textarea {
                margin: 10px 0;
                width: 540px;
                height: 120px;
            }
            p {
                color: #909090
            }
        </style>
    </head>
    <body>

        <form action='/encrypt' method='post' >
            <label for='rotation-value'> Rotate by:
                <input type='text' id='rotation-value' name='rot' value='0' />
            </label>
            <br>
            <textarea name='text'>{{ bigbox }}</textarea>
            <input type='submit' value= 'Go'/>
        </form>    

    </body>
</html>